<?xml version='1.0' encoding='utf-8'?>
<widget id="org.norwalk.baptist" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FBC Norwalk</name>
    <description>
        Stay up to date with the latest blog posts and sermon recordings from FBC Norwalk.
    </description>
    <author email="daniel.r.heiniger@gmail.com" href="http://norwalkbaptist.org">
        FBC Norwalk
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
   
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.media" />
        
     <!-- Default application icon -->
	<icon src="www/res/icon.png" />
	<splash src="www/res/splash.png" />
	
	<!-- Android -->
	<icon src="www/res/icon.png" platform="android" density="ldpi" />
	<icon src="www/res/icon.png" platform="android" density="mdpi" />
	<icon src="www/res/icon.png" platform="android" density="hdpi" />
	<icon src="www/res/icon.png" platform="android" density="xhdpi" />
	
	<splash src="www/res/splash.png" platform="android" density="ldpi" />
	<splash src="www/res/splash.png" platform="android" density="mdpi"/>
	<splash src="www/res/splash.png" platform="android" density="hdpi"/>
	<splash src="www/res/splash.png" platform="android" density="xhdpi"/>
	
	<!-- iOS -->
	<splash src="www/res/splash.png" platform="ios" width="320" height="480" />
	<splash src="www/res/splash.png" platform="ios" width="640" height="960" />
	
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="www/res/splash.png" platform="ios" width="640" height="1136" />
	
	<!-- iPhone 6 -->
	<splash src="www/res/splash.png" platform="ios" width="750" height="1334" />
	<splash src="www/res/splash.png" platform="ios" width="1242" height="2208" />
	<splash src="www/res/splash.png" platform="ios" width="2208" height="1242" />
	
	<icon src="www/res/icon.png" platform="ios" width="57" height="57" />
	<icon src="www/res/icon.png" platform="ios" width="114" height="114" />

	<!-- iPad -->
	<icon src="www/res/icon.png" platform="ios" width="72" height="72" />
	<icon src="www/res/icon.png" platform="ios" width="144" height="144" />
	
	<!-- iPhone Spotlight and Settings Icon -->
	<icon src="www/res/icon.png" platform="ios" width="29" height="29" />
	<icon src="www/res/icon.png" platform="ios" width="58" height="58" />
	
	<!-- iPad Spotlight and Settings Icon -->
	<icon src="www/res/icon.png" platform="ios" width="50" height="50" />
	<icon src="www/res/icon.png" platform="ios" width="100" height="100" />	

    <preference name="SplashScreen" value="splash"/>
    <preference name="SplashScreenDelay" value="5000" />
    
    <access origin="*" />
</widget>
