<?xml version='1.0' encoding='utf-8'?>
<widget id="org.norwalk.baptist" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FBC Norwalk</name>
    <description>
        Stay up to date with the latest blog posts and sermon recordings from FBC Norwalk.
    </description>
    <author email="daniel.r.heiniger@gmail.com" href="http://norwalkbaptist.org">
        FBC Norwalk
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
   
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.media" />
        
    <gap:splash src="res/screen/android/splash.png" gap:platform="android"/>
    <icon src="res/icon/android/icon.png" gap:platform="android"/>
    
    <gap:splash src="res/screen/ios/splash.png" gap:platform="ios"/>
    <icon src="res/icon/ios/icon.png" gap:platform="ios"/>
    
    <gap:splash src="splash.png"/>
    <preference name="SplashScreenDelay" value="30000" />
    
    <access origin="*" />
</widget>
