@font-face {
    font-family: 'Oswald-Stencil';
    src: url('../font/oswald/Oswald-Stencil.otf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../font/oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../font/oswald/Oswald-Bold.ttf');
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    height:80%;
    -webkit-font-smoothing: antialiased;
}

a{
    color: #63B32E;
    text-decoration: none;
}

h1{
    font-family: Oswald-Stencil;
}

p{
    font-family: Arial;
}

.list-title{   
    font-size: x-large;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display:block;
    white-space: nowrap;
}

.list-segment{
     border-bottom:solid 1px gray;
     text-overflow: ellipsis;
}

.timestamp{
    color: #63B32E;
}

.content-title{
    font-size: 18px;
}

sermon-title{
   font-size: 28px;
}

.loader{
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -15px;
    position: fixed;
}

.buffer{
    background: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    border: none;
    height:30px;
    width: 30px;
    margin: auto;
    display: block;
}

#content {
    background-color: #fff;
    padding: 0px 15px;
    margin-top: 90px;
}

#content img{
   width: 100%;
   height: auto;
}

#navigation-wrapper{
    position: fixed;
    width: 100%;
    top: 0px;
}

#navigation-title{
    background-color: #fff;
    line-height: 39px;
    vertical-align: middle;
}

#navigation-title span{
    font-family: Oswald-Stencil;
    font-size: x-large;   
}

#navigation-title img{
    position: relative;
    top: 5px;
}

.menu-bar{
    height: 40px;
    background-color: rgb(102,102,102);
    margin-top: -16px;
}

.menu-bar ul{
    height: 95%;
    margin-left: -40px;
}

.menu-bar li{
    display: inline;
    float: left;
    display: block;
    width: 25%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.menu-bar a{
    display: block;
    height: 100%;
    border: solid 1px black;    
    color: #82ce50;
    font-family: oswald;
}

.menu-bar-button{
    width: 20px;
    height: 20px;
    float: left;
}

.nav-wrapper{
    width: 600px;
}

.social-button-wrapper{
    position: relative;
    top: 30px;
    width: 80%;
    margin: auto;
}

.social-button{
    height: 50px;
    margin-top:10px;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;    
    border-radius: 0.6em;
    font-family: Oswald-Bold;
}

.social-button a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
}

#facebook-button{
    background-color: #3b5998;
   
}

#website-button{
    background-color: #555;
}

#audio-player{
    width: 75%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

#time-played{
    margin-left: 15px;
}

#time-remaining{
    float: right;
}

.timer{
    font-family: Oswald;
}

#seekbar{
    width: 100%;
    height: 15px;
    background-color:#3373A5;
    border: solid black 2px;
    border-radius: 25px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  /*background: #3071a9;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.header{
    text-align: center;
}

.play{
    height: 100px;
    width: 70px;
    border: none;
    background: url("../img/play.png");
    margin: auto;
    display: block;
}

.pause{
    height: 100px;
    width: 70px;
    border: none;
    background: url("../img/pause.png");
    margin: auto;
    display: block;
}

.stop{
    height: 100px;
    width: 100px;
    border: none;
    background: url("../img/stop.png");
}

.subheader{
    font-size: 15px;
    text-align: center;
    color: #63B32E;
}

@media screen and (min-width: 400px) { /* @media screen and (min-width: 880px) { */
    #audio-player{	
	margin-top: 5%;
    }
}
